# Contenido 
## Día 1
 - Presentación Temario
 - Entorno de desarrollo
 - Python
 - Programación Básica

## Día 2
 - Programación Básica
 - NumPy
 - Matplotlib

## Día 3
 - Matplotlib
 - Sympy
 - Aplicaciones prácticas

# Intro a Jupyter Notebooks y Python

In [1]:
print("Hola Mundo")

Hola Mundo

# Python
 - lenguaje de programación de propósito general
 - Interpretado
 - De alto nivel y multiparadigma
 - Multiplataforma
 - Tipado dinámico
 
 - Desarrollo Web
 - Cómputo científico [numpy](https://numpy.org/)

# Variables y tipos de datos
 
### Números
 - int
 - float
 - complex
 
### Booleanos
 - bool
 
### String
 - str
 
### Estructuras
 - tuple
 - list
 - dict
 - set

In [10]:
# Numeros
mi_numero = 4
flotante = 43.23
complejo = 2.1 + 7.8j
print(type(mi_numero), type(flotante), type(complejo))

<class 'int'> <class 'float'> <class 'complex'>

In [12]:
# Booleanos
mi_bool = True
mi_otro_bool = False

In [7]:
# Strings
nombre = "Santiago's dog"
apellido = 'Chio'
multiple = """todo un parrafo
con varias
lineas"""

# Funciones built in
 [Documentación](https://docs.python.org/3/library/functions.html)

In [1]:
mi_num = int(input('dame un numero:'))
print(mi_num+16)

dame un numero:34
50

# Operadores Aritméticos
\+	Suma	`x + y`

\-	Resta	`x - y`

\*	Multiplicación	`x * y`

/	Division (float)	`x / y`

//	Division (floor)	`x // y`

%	Módulo	`x % y`

**	Potencia	`x ** y`

In [2]:
# Examples of Arithmetic Operator 
a = 9
b = 4
  
# Addition of numbers 
add = a + b 
  
# Subtraction of numbers 
sub = a - b 
  
# Multiplication of number 
mul = a * b 
  
# Division(float) of number 
div1 = a / b 
  
# Division(floor) of number 
div2 = a // b 
  
# Modulo of both number 
mod = a % b 
  
# Power
p = a ** b
  
# print results 
print(add) 
print(sub) 
print(mul) 
print(div1) 
print(div2) 
print(mod)
print(p)

13
5
36
2.25
2
1
6561

# Operadores Comparación
\>	Mayor que	`x > y`

<	Menor que	`x < y`

==	Igual a	    `x == y`

!=	Diferente a `x != y`

\>=	Mayor que o igual	`x >= y`

<=	Menor que o igual	`x <= y`

In [22]:
# Examples of Relational Operators
a = 13
b = 33
  
# a > b is False
print(a > b)
  
# a < b is True
print(a < b)
  
# a == b is False
print(a == b)
  
# a != b is True
print(a != b)
  
# a >= b is False
print(a >= b)
  
# a <= b is True
print(a <= b)

False
True
False
True
False
True

# Operadores Lógicos
and	`x and y`

or	`x or y`

not	`not x`

In [3]:
# Examples of Logical Operator
a = True
b = False
  
# Print a and b is False
print(a and b)
  
# Print a or b is True
print(a or b)
  
# Print not a is False
print(not a)

False
True
False

## Otros operadores
 - Bitwise
 - Assignment
 - Identidad `is` `is not`
 - Pertenencia `in` `not in`

# Condicionales
```python
if True:
    pass
elif True:
    pass
else:
    pass
```

In [28]:
numero = int(input("pon un múmero:"))
if numero < 100:
    print("número pequeño")
elif numero < 1000:
    print("número entre 100 y 1000")
else:
    print("número mayor que 999")

pon un múmero:121
número entre 100 y 1000

# Ciclos
 - while
 - for
 
 sentencias:
 - break
 - continue

In [29]:
n = 0
while n < 10:
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9

In [31]:
for n in range(10):
    print(n)

0
1
2
3
4
5
6
7
8
9

# Iterables
 - Listas
 - Tuplas
 - Sets
 - Diccionarios

# Listas y Tuplas
 - Arreglos Dinámicos
 - No tienen que ser homogeneos
 - Listas son mutables
 - Tuplas son inmutables

In [3]:
# Creating a List
List = []
print("Blank List: ")
print(List)
  
# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)
  
# Creating a List of strings and accessing
# using index
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List[0]) 
print(List[2])
  
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'] , ['Geeks']]
print("\nMulti-Dimensional List: ")
print(List)

# mixed type of values
# (Having numbers and strings)
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
print("\nList with the use of Mixed Values: ")
print(List)

Blank List:
[]

List of numbers:
[10, 20, 14]

List Items:
Geeks
Geeks

Multi-Dimensional List:
[['Geeks', 'For'], ['Geeks']]

List with the use of Mixed Values:
[1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

In [4]:
mis_calif = [80, 75, 91, 88, 90]

for calif in mis_calif:
    print(calif)

80
75
91
88
90

# Atributos y Métodos
Todo en Python es un objeto, y como tal puede tener métodos y atributos.

Se accede a estos métodos y atributos con un `.`

## Ejemplo con Listas:

In [6]:
# Creating a List
List = []
print("Initial blank List: ")
print(List)
  
# Addition of Elements 
# in the List
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)
  
# Adding elements to the List
# using Iterator
for i in range(1, 4):
    List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)
  
# Adding Tuples to the List
List.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(List)
  
# Addition of List to a List
List2 = ['For', 'Geeks']
List.append(List2)
print("\nList after Addition of a List: ")
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3]

List after Addition of a Tuple:
[1, 2, 4, 1, 2, 3, (5, 6)]

List after Addition of a List:
[1, 2, 4, 1, 2, 3, (5, 6), ['For', 'Geeks']]

In [6]:
# Tuplas
mi_tupla = (12, 32, 43, 5463, 634)
print(mi_tupla)

(12, 32, 43, 5463, 634)

# Extra | Sets y diccionarios

In [7]:
# Sets
mi_set = {12, 23, 12, 5}
print(mi_set)

{12, 5, 23}

In [5]:
# Operaciones con Sets
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("Union", A | B)
print("Intersección", A & B)
print("Diferencia", A - B)
print("Diferencia simétrica", A ^ B)

Union {1, 2, 3, 4, 5, 6, 7, 8}
Intersección {4, 5}
Diferencia {1, 2, 3}
Diferencia simétrica {1, 2, 3, 6, 7, 8}

In [8]:
# Diccionarios
mi_tabla = {"nombre": "Chio", "edad": 27, "gustos": ["comida", "dormir"]}
print(mi_tabla["nombre"])

Chio